
.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color: #F0F8FF;

.pic{
	background-size: cover;
  background-repeat: no-repeat;
   background-position:center; 
   height: 150%;
   width: 100%;
}

.address{
    font-size:80%;
    margin:0px;
    padding:50px 0px 0px 0px;
    z-index:0;
}

.body{
    padding:50px 0px 0px 0px;
    z-index:0;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel-item img {
    position: absolute;
    min-height: 300px;

}


.margin
{
	margin-left:10px;
}

.btn
{
 width:100%;
 cursor: pointer;

}
.carousel-text
{
    text-align: center;
}

.bg{
    background-image: linear-gradient(gray, white);
}

