
.jumbotron {
    padding:70px 30px 20px 30px;
    margin:0px auto;
    background: #C960F3 ;
    
}

.navigation
{
	background : #FFFFFF;
}
.dd ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;


}

.dd ul li
{
	
	display: inline-block;

}

.dd ul li a
{
	display: block;
	text-decoration: none;
	height: 45px;
	width:150px;
	 color:white;


}

.dd ul ul
{
 position: absolute;
 width: 150px;
 display: none;

}
.dd ul ul li
{
	display: block;
	background: #C960F3 ;


}